In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
# Cargar Datos
df_historico = pd.read_csv('C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/WorldCup Tournament 2026/Data/fifa_worldcup_historical_data.csv', delimiter=',')
df_fixture = pd.read_csv('C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/WorldCup Tournament 2026/Data/fifa_worldcup_fixture.csv', delimiter=',')
df_missing = pd.read_csv('C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/WorldCup Tournament 2026/Data/fifa_worldcup_missing_data.csv', delimiter=',')

In [3]:
print('Dimension of df_historico',df_historico.shape)
print('Dimension of df_fixture',df_fixture.shape)
print('Dimension of df_missing',df_missing.shape)
df_historico.head()

Dimension of df_historico (929, 4)
Dimension of df_fixture (104, 4)
Dimension of df_missing (100, 4)

         home score     away  year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [4]:
df_historico.dtypes

home     object
score    object
away     object
year      int64
dtype: object

In [5]:
for col in df_historico.columns:    
    print(f'Unique values form {col} column ')
    print(df_historico[col].unique())

Unique values form home column
['France\xa0' 'Argentina\xa0' 'Chile\xa0' 'Yugoslavia\xa0' 'Brazil\xa0'
 'Romania\xa0' 'Uruguay\xa0' 'United States\xa0' 'Paraguay\xa0'
 'Spain\xa0' 'Hungary\xa0' 'Switzerland\xa0' 'Italy\xa0'
 'Czechoslovakia\xa0' 'Sweden\xa0' 'Austria\xa0' 'Germany\xa0' 'Cuba\xa0'
 'England\xa0' 'West Germany\xa0' 'Turkey\xa0' 'Northern Ireland\xa0'
 'Mexico\xa0' 'Wales\xa0' 'Soviet Union\xa0' 'Portugal\xa0'
 'North Korea\xa0' 'Belgium\xa0' 'Peru\xa0' 'Bulgaria\xa0'
 'East Germany\xa0' 'Australia\xa0' 'Zaire\xa0' 'Scotland\xa0'
 'Netherlands\xa0' 'Poland\xa0' 'Haiti\xa0' 'Tunisia\xa0' 'Algeria\xa0'
 'Honduras\xa0' 'South Korea\xa0' 'Iraq\xa0' 'Canada\xa0' 'Denmark\xa0'
 'Morocco\xa0' 'Cameroon\xa0' 'Republic of Ireland\xa0' 'Colombia\xa0'
 'Russia\xa0' 'Bolivia\xa0' 'Nigeria\xa0' 'Greece\xa0' 'Norway\xa0'
 'Saudi Arabia\xa0' 'South Africa\xa0' 'FR Yugoslavia\xa0' 'Jamaica\xa0'
 'Japan\xa0' 'Senegal\xa0' 'Slovenia\xa0' 'China\xa0' 'Costa Rica\xa0'
 'Croatia\xa0' 'Ecuador\xa0' 'Trinidad and Tobago\xa0'
 'Serbia and Montenegro\xa0' 'Ivory Coast\xa0' 'Angola\xa0' 'Iran\xa0'
 'Czech Republic\xa0' 'Ghana\xa0' 'Togo\xa0' 'Ukraine\xa0' 'Serbia\xa0'
 'New Zealand\xa0' 'Slovakia\xa0' 'Bosnia and Herzegovina\xa0' 'Egypt\xa0'
 'Iceland\xa0' 'Panama\xa0' 'Qatar\xa0']
Unique values form score column
['4–1' '1–0' '3–0' '6–3' '3–1' '2–1' '4–0' '6–1' '4–2' '3–2' '7–1'
 '3–2 (a.e.t.)' '5–2' '1–1 (a.e.t.)' '2–1 (a.e.t.)' '6–0' 'w/o'
 '3–3 (a.e.t.)' '6–5 (a.e.t.)' '3–0 (a.e.t.)' '2–0' '8–0' '5–1' '2–2'
 '5–0' '9–0' '8–3' '7–0' '7–2' '4–4 (a.e.t.)' '7–5' '4–2 (a.e.t.)' '1–3'
 '7–3' '1–1' '3–3' '0–0' '4–4' '5–3' '0–1 (a.e.t.)' '4–3 (a.e.t.)' '0–3'
 '0–2' '1–4' '0–7' '1–2' '0–1' '1–5' '3–1 (a.e.t.)' '10–1' '2–3'
 '3–4 (a.e.t.)' '0–0 (a.e.t.)' '2–4 (a.e.t.)' '1–2 (a.e.t.)'
 '1–0 (a.e.t.)' '2–3 (a.e.t.)' '2–2 (a.e.t.)' '1–0 (a.e.t./g.g.)' '2–5'
 '1–2 (a.e.t./g.g.)' '2–1 (a.e.t./g.g.)' '0–1 (a.e.t./g.g.)' '0–4'
 '0–2 (a.e.t.)' '2–4' '1–7' '4–3' '6–2']
Unique values form away column
['\xa0Mexico' '\xa0France' '\xa0Chile' '\xa0Brazil' '\xa0Bolivia'
 '\xa0Peru' '\xa0Romania' '\xa0Belgium' '\xa0Paraguay' '\xa0United States'
 ' Yugoslavia' '\xa0Argentina' '\xa0Egypt' '\xa0Netherlands' '\xa0Hungary'
 '\xa0Spain' '\xa0Sweden' '\xa0\xa0Switzerland' '\xa0Austria'
 '\xa0Germany' '\xa0Czechoslovakia' '\xa0Dutch East Indies' '\xa0Norway'
 '\xa0Poland' '\xa0Cuba' '\xa0Yugoslavia' '\xa0England' '\xa0Italy'
 '\xa0Turkey' '\xa0South Korea' '\xa0West Germany' '\xa0Scotland'
 '\xa0Uruguay' '\xa0Northern Ireland' '\xa0Wales' '\xa0Soviet Union'
 '\xa0Colombia' '\xa0Bulgaria' '\xa0North Korea' '\xa0Portugal'
 '\xa0El Salvador' '\xa0Israel' '\xa0Morocco' '\xa0Australia'
 '\xa0East Germany' '\xa0Zaire' '\xa0Haiti' '\xa0Tunisia' '\xa0Iran'
 '\xa0Cameroon' '\xa0Algeria' '\xa0Kuwait' '\xa0Honduras'
 '\xa0New Zealand' '\xa0Iraq' '\xa0Canada' '\xa0Denmark' '\xa0Costa Rica'
 '\xa0Russia' '\xa0Greece' '\xa0Nigeria' '\xa0Republic of Ireland'
 '\xa0Saudi Arabia' '\xa0South Africa' '\xa0FR Yugoslavia' '\xa0Japan'
 '\xa0Croatia' '\xa0Jamaica' '\xa0Senegal' '\xa0Slovenia' '\xa0China'
 '\xa0Ecuador' '\xa0Trinidad and Tobago' '\xa0Ivory Coast'
 '\xa0Serbia and Montenegro' '\xa0Angola' '\xa0Czech Republic' '\xa0Ghana'
 '\xa0Togo' '\xa0Ukraine' '\xa0Serbia' '\xa0Slovakia'
 '\xa0Bosnia and Herzegovina' '\xa0Iceland' '\xa0Panama' '\xa0Qatar'
 '\xa0Switzerland']
Unique values form year column
[1930 1934 1938 1950 1954 1958 1962 1966 1970 1974 1978 1982 1986 1990
 1994 1998 2002 2006 2010 2014 2018 2022]

In [6]:
df_historico['home'] = df_historico['home'].str.replace('\xa0', '', regex=False).str.strip()
df_historico['score'] = df_historico['score'].str.replace(' (a.e.t.)', '', regex=False).str.strip()
df_historico['score'] = df_historico['score'].str.replace(' (a.e.t./g.g.)', '', regex=False).str.strip()
df_historico['away'] = df_historico['away'].str.replace('\xa0', '', regex=False).str.strip()
for col in df_historico.columns:    
    print(f'Unique values form {col} column ')
    print(df_historico[col].unique())

Unique values form home column
['France' 'Argentina' 'Chile' 'Yugoslavia' 'Brazil' 'Romania' 'Uruguay'
 'United States' 'Paraguay' 'Spain' 'Hungary' 'Switzerland' 'Italy'
 'Czechoslovakia' 'Sweden' 'Austria' 'Germany' 'Cuba' 'England'
 'West Germany' 'Turkey' 'Northern Ireland' 'Mexico' 'Wales'
 'Soviet Union' 'Portugal' 'North Korea' 'Belgium' 'Peru' 'Bulgaria'
 'East Germany' 'Australia' 'Zaire' 'Scotland' 'Netherlands' 'Poland'
 'Haiti' 'Tunisia' 'Algeria' 'Honduras' 'South Korea' 'Iraq' 'Canada'
 'Denmark' 'Morocco' 'Cameroon' 'Republic of Ireland' 'Colombia' 'Russia'
 'Bolivia' 'Nigeria' 'Greece' 'Norway' 'Saudi Arabia' 'South Africa'
 'FR Yugoslavia' 'Jamaica' 'Japan' 'Senegal' 'Slovenia' 'China'
 'Costa Rica' 'Croatia' 'Ecuador' 'Trinidad and Tobago'
 'Serbia and Montenegro' 'Ivory Coast' 'Angola' 'Iran' 'Czech Republic'
 'Ghana' 'Togo' 'Ukraine' 'Serbia' 'New Zealand' 'Slovakia'
 'Bosnia and Herzegovina' 'Egypt' 'Iceland' 'Panama' 'Qatar']
Unique values form score column
['4–1' '1–0' '3–0' '6–3' '3–1' '2–1' '4–0' '6–1' '4–2' '3–2' '7–1' '5–2'
 '1–1' '6–0' 'w/o' '3–3' '6–5' '2–0' '8–0' '5–1' '2–2' '5–0' '9–0' '8–3'
 '7–0' '7–2' '4–4' '7–5' '1–3' '7–3' '0–0' '5–3' '0–1' '4–3' '0–3' '0–2'
 '1–4' '0–7' '1–2' '1–5' '10–1' '2–3' '3–4' '2–4' '2–5' '0–4' '1–7' '6–2']
Unique values form away column
['Mexico' 'France' 'Chile' 'Brazil' 'Bolivia' 'Peru' 'Romania' 'Belgium'
 'Paraguay' 'United States' 'Yugoslavia' 'Argentina' 'Egypt' 'Netherlands'
 'Hungary' 'Spain' 'Sweden' 'Switzerland' 'Austria' 'Germany'
 'Czechoslovakia' 'Dutch East Indies' 'Norway' 'Poland' 'Cuba' 'England'
 'Italy' 'Turkey' 'South Korea' 'West Germany' 'Scotland' 'Uruguay'
 'Northern Ireland' 'Wales' 'Soviet Union' 'Colombia' 'Bulgaria'
 'North Korea' 'Portugal' 'El Salvador' 'Israel' 'Morocco' 'Australia'
 'East Germany' 'Zaire' 'Haiti' 'Tunisia' 'Iran' 'Cameroon' 'Algeria'
 'Kuwait' 'Honduras' 'New Zealand' 'Iraq' 'Canada' 'Denmark' 'Costa Rica'
 'Russia' 'Greece' 'Nigeria' 'Republic of Ireland' 'Saudi Arabia'
 'South Africa' 'FR Yugoslavia' 'Japan' 'Croatia' 'Jamaica' 'Senegal'
 'Slovenia' 'China' 'Ecuador' 'Trinidad and Tobago' 'Ivory Coast'
 'Serbia and Montenegro' 'Angola' 'Czech Republic' 'Ghana' 'Togo'
 'Ukraine' 'Serbia' 'Slovakia' 'Bosnia and Herzegovina' 'Iceland' 'Panama'
 'Qatar']
Unique values form year column
[1930 1934 1938 1950 1954 1958 1962 1966 1970 1974 1978 1982 1986 1990
 1994 1998 2002 2006 2010 2014 2018 2022]

In [7]:
for col in df_fixture.columns:    
    print(f'Unique values form {col} column ')
    print(df_fixture[col].unique())

Unique values form home column
['Mexico\xa0' 'A3' 'A4' 'A2' 'Canada\xa0' 'B3' 'B4' 'B2' nan
 'United States\xa0' 'D3' 'D4' 'D2' 'Runner-up Group A' 'Winner Group E'
 'Winner Group F' 'Winner Group C' 'Winner Group I' 'Runner-up Group E'
 'Winner Group A' 'Winner Group L' 'Winner Group D' 'Winner Group G'
 'Runner-up Group K' 'Winner Group H' 'Winner Group B' 'Winner Group J'
 'Winner Group K' 'Runner-up Group D' 'Winner Match 74' 'Winner Match 73'
 'Winner Match 76' 'Winner Match 79' 'Winner Match 83' 'Winner Match 81'
 'Winner Match 86' 'Winner Match 85' 'Winner Match 89' 'Winner Match 93'
 'Winner Match 91' 'Winner Match 95' 'Winner Match 97' 'Winner Match 99'
 'Loser Match 101' 'Winner Match 101']
Unique values form score column
['Match 1' 'Match 2' 'Match 25' 'Match 28' 'Match 53' 'Match 54' 'Match 3'
 'Match 8' 'Match 26' 'Match 27' 'Match 51' 'Match 52' 'Match 5' 'Match 7'
 'Match 29' 'Match 30' 'Match 49' 'Match 50' 'Match 4' 'Match 6'
 'Match 31' 'Match 32' 'Match 59' 'Match 60' 'Match 9' 'Match 10'
 'Match 33' 'Match 34' 'Match 55' 'Match 56' 'Match 11' 'Match 12'
 'Match 35' 'Match 36' 'Match 57' 'Match 58' 'Match 15' 'Match 16'
 'Match 39' 'Match 40' 'Match 63' 'Match 64' 'Match 13' 'Match 14'
 'Match 37' 'Match 38' 'Match 65' 'Match 66' 'Match 17' 'Match 18'
 'Match 41' 'Match 42' 'Match 61' 'Match 62' 'Match 19' 'Match 20'
 'Match 43' 'Match 44' 'Match 69' 'Match 70' 'Match 23' 'Match 24'
 'Match 47' 'Match 48' 'Match 71' 'Match 72' 'Match 21' 'Match 22'
 'Match 45' 'Match 46' 'Match 67' 'Match 68' 'Match 73' 'Match 74'
 'Match 75' 'Match 76' 'Match 77' 'Match 78' 'Match 79' 'Match 80'
 'Match 81' 'Match 82' 'Match 83' 'Match 84' 'Match 85' 'Match 86'
 'Match 87' 'Match 88' 'Match 89' 'Match 90' 'Match 91' 'Match 92'
 'Match 93' 'Match 94' 'Match 95' 'Match 96' 'Match 97' 'Match 98'
 'Match 99' 'Match 100' 'Match 101' 'Match 102' 'Match 103' 'Match 104']
Unique values form away column
['A2' 'A4' 'A3' '\xa0Mexico' 'B2' 'B4' 'B3' '\xa0Canada' nan 'D2' 'D4'
 'D3' '\xa0United States' 'Runner-up Group B' '3rd Group A/B/C/D/F'
 'Runner-up Group C' 'Runner-up Group F' '3rd Group C/D/F/G/H'
 'Runner-up Group I' '3rd Group C/E/F/H/I' '3rd Group E/H/I/J/K'
 '3rd Group B/E/F/I/J' '3rd Group A/E/H/I/J' 'Runner-up Group L'
 'Runner-up Group J' '3rd Group E/F/G/I/J' 'Runner-up Group H'
 '3rd Group D/E/I/J/L' 'Runner-up Group G' 'Winner Match 77'
 'Winner Match 75' 'Winner Match 78' 'Winner Match 80' 'Winner Match 84'
 'Winner Match 82' 'Winner Match 88' 'Winner Match 87' 'Winner Match 90'
 'Winner Match 94' 'Winner Match 92' 'Winner Match 96' 'Winner Match 98'
 'Winner Match 100' 'Loser Match 102' 'Winner Match 102']
Unique values form year column
[2026]

In [8]:
df_fixture['home'] = df_fixture['home'].str.replace('\xa0', '', regex=False).str.strip()
df_fixture['away'] = df_fixture['away'].str.replace('\xa0', '', regex=False).str.strip()
for col in df_fixture.columns:    
    print(f'Unique values form {col} column ')
    print(df_fixture[col].unique())

Unique values form home column
['Mexico' 'A3' 'A4' 'A2' 'Canada' 'B3' 'B4' 'B2' nan 'United States' 'D3'
 'D4' 'D2' 'Runner-up Group A' 'Winner Group E' 'Winner Group F'
 'Winner Group C' 'Winner Group I' 'Runner-up Group E' 'Winner Group A'
 'Winner Group L' 'Winner Group D' 'Winner Group G' 'Runner-up Group K'
 'Winner Group H' 'Winner Group B' 'Winner Group J' 'Winner Group K'
 'Runner-up Group D' 'Winner Match 74' 'Winner Match 73' 'Winner Match 76'
 'Winner Match 79' 'Winner Match 83' 'Winner Match 81' 'Winner Match 86'
 'Winner Match 85' 'Winner Match 89' 'Winner Match 93' 'Winner Match 91'
 'Winner Match 95' 'Winner Match 97' 'Winner Match 99' 'Loser Match 101'
 'Winner Match 101']
Unique values form score column
['Match 1' 'Match 2' 'Match 25' 'Match 28' 'Match 53' 'Match 54' 'Match 3'
 'Match 8' 'Match 26' 'Match 27' 'Match 51' 'Match 52' 'Match 5' 'Match 7'
 'Match 29' 'Match 30' 'Match 49' 'Match 50' 'Match 4' 'Match 6'
 'Match 31' 'Match 32' 'Match 59' 'Match 60' 'Match 9' 'Match 10'
 'Match 33' 'Match 34' 'Match 55' 'Match 56' 'Match 11' 'Match 12'
 'Match 35' 'Match 36' 'Match 57' 'Match 58' 'Match 15' 'Match 16'
 'Match 39' 'Match 40' 'Match 63' 'Match 64' 'Match 13' 'Match 14'
 'Match 37' 'Match 38' 'Match 65' 'Match 66' 'Match 17' 'Match 18'
 'Match 41' 'Match 42' 'Match 61' 'Match 62' 'Match 19' 'Match 20'
 'Match 43' 'Match 44' 'Match 69' 'Match 70' 'Match 23' 'Match 24'
 'Match 47' 'Match 48' 'Match 71' 'Match 72' 'Match 21' 'Match 22'
 'Match 45' 'Match 46' 'Match 67' 'Match 68' 'Match 73' 'Match 74'
 'Match 75' 'Match 76' 'Match 77' 'Match 78' 'Match 79' 'Match 80'
 'Match 81' 'Match 82' 'Match 83' 'Match 84' 'Match 85' 'Match 86'
 'Match 87' 'Match 88' 'Match 89' 'Match 90' 'Match 91' 'Match 92'
 'Match 93' 'Match 94' 'Match 95' 'Match 96' 'Match 97' 'Match 98'
 'Match 99' 'Match 100' 'Match 101' 'Match 102' 'Match 103' 'Match 104']
Unique values form away column
['A2' 'A4' 'A3' 'Mexico' 'B2' 'B4' 'B3' 'Canada' nan 'D2' 'D4' 'D3'
 'United States' 'Runner-up Group B' '3rd Group A/B/C/D/F'
 'Runner-up Group C' 'Runner-up Group F' '3rd Group C/D/F/G/H'
 'Runner-up Group I' '3rd Group C/E/F/H/I' '3rd Group E/H/I/J/K'
 '3rd Group B/E/F/I/J' '3rd Group A/E/H/I/J' 'Runner-up Group L'
 'Runner-up Group J' '3rd Group E/F/G/I/J' 'Runner-up Group H'
 '3rd Group D/E/I/J/L' 'Runner-up Group G' 'Winner Match 77'
 'Winner Match 75' 'Winner Match 78' 'Winner Match 80' 'Winner Match 84'
 'Winner Match 82' 'Winner Match 88' 'Winner Match 87' 'Winner Match 90'
 'Winner Match 94' 'Winner Match 92' 'Winner Match 96' 'Winner Match 98'
 'Winner Match 100' 'Loser Match 102' 'Winner Match 102']
Unique values form year column
[2026]

In [9]:
for col in df_missing.columns:    
    print(f'Unique values form {col} column ')
    print(df_missing[col].unique())

Unique values form home column
['Italy ' 'United States ' 'Austria ' 'Argentina ' 'Soviet Union '
 'Cameroon ' 'Brazil ' 'Costa Rica ' 'Sweden ' 'United Arab Emirates '
 'West Germany ' 'Yugoslavia ' 'Belgium ' 'Uruguay ' 'South Korea '
 'England ' 'Netherlands ' 'Republic of Ireland ' nan]
Unique values form score column
['1–0' '1–5' '0–1' '2–0' '2–1' '0–2' '1–1' '0–4' '1–2' '4–1' '5–1' '0–0'
 '3–1' '1–3' nan]
Unique values form away column
[' Austria' ' Czechoslovakia' ' United States' ' Cameroon' ' Romania'
 ' Soviet Union' ' Sweden' ' Scotland' ' Costa Rica' ' Colombia'
 ' Yugoslavia' ' United Arab Emirates' ' South Korea' ' Spain' ' Uruguay'
 ' Republic of Ireland' ' Egypt' ' Netherlands' nan]
Unique values form year column
[1990 2010]

In [10]:
df_missing['home'] = df_missing['home'].str.rstrip()
df_missing['away'] = df_missing['away'].str.lstrip()
for col in df_missing.columns:    
    print(f'Unique values from {col} column')
    print(df_missing[col].unique())

Unique values from home column
['Italy' 'United States' 'Austria' 'Argentina' 'Soviet Union' 'Cameroon'
 'Brazil' 'Costa Rica' 'Sweden' 'United Arab Emirates' 'West Germany'
 'Yugoslavia' 'Belgium' 'Uruguay' 'South Korea' 'England' 'Netherlands'
 'Republic of Ireland' nan]
Unique values from score column
['1–0' '1–5' '0–1' '2–0' '2–1' '0–2' '1–1' '0–4' '1–2' '4–1' '5–1' '0–0'
 '3–1' '1–3' nan]
Unique values from away column
['Austria' 'Czechoslovakia' 'United States' 'Cameroon' 'Romania'
 'Soviet Union' 'Sweden' 'Scotland' 'Costa Rica' 'Colombia' 'Yugoslavia'
 'United Arab Emirates' 'South Korea' 'Spain' 'Uruguay'
 'Republic of Ireland' 'Egypt' 'Netherlands' nan]
Unique values from year column
[1990 2010]

In [11]:
df_historico[df_historico['score'] == 'w/o']
# Una victoria por abandono, también conocida como W.O. o w/o, es una victoria otorgada al equipo/jugador contrario, etc.
# , si no hay otros jugadores disponibles, o si han sido descalificados, porque los otros participantes se han retirado del concurso.
# Debido a esto se pondra una score de 1-0
df_historico['score'] = df_historico['score'].replace('w/o', '1-0')

In [12]:
df_missing.dropna(inplace=True)
df_historico = pd.concat([df_historico, df_missing], ignore_index=True)

In [13]:
for col in df_historico.columns:    
    print(f'Unique values form {col} column ')
    print(df_historico[col].unique())

Unique values form home column
['France' 'Argentina' 'Chile' 'Yugoslavia' 'Brazil' 'Romania' 'Uruguay'
 'United States' 'Paraguay' 'Spain' 'Hungary' 'Switzerland' 'Italy'
 'Czechoslovakia' 'Sweden' 'Austria' 'Germany' 'Cuba' 'England'
 'West Germany' 'Turkey' 'Northern Ireland' 'Mexico' 'Wales'
 'Soviet Union' 'Portugal' 'North Korea' 'Belgium' 'Peru' 'Bulgaria'
 'East Germany' 'Australia' 'Zaire' 'Scotland' 'Netherlands' 'Poland'
 'Haiti' 'Tunisia' 'Algeria' 'Honduras' 'South Korea' 'Iraq' 'Canada'
 'Denmark' 'Morocco' 'Cameroon' 'Republic of Ireland' 'Colombia' 'Russia'
 'Bolivia' 'Nigeria' 'Greece' 'Norway' 'Saudi Arabia' 'South Africa'
 'FR Yugoslavia' 'Jamaica' 'Japan' 'Senegal' 'Slovenia' 'China'
 'Costa Rica' 'Croatia' 'Ecuador' 'Trinidad and Tobago'
 'Serbia and Montenegro' 'Ivory Coast' 'Angola' 'Iran' 'Czech Republic'
 'Ghana' 'Togo' 'Ukraine' 'Serbia' 'New Zealand' 'Slovakia'
 'Bosnia and Herzegovina' 'Egypt' 'Iceland' 'Panama' 'Qatar'
 'United Arab Emirates']
Unique values form score column
['4–1' '1–0' '3–0' '6–3' '3–1' '2–1' '4–0' '6–1' '4–2' '3–2' '7–1' '5–2'
 '1–1' '6–0' '1-0' '3–3' '6–5' '2–0' '8–0' '5–1' '2–2' '5–0' '9–0' '8–3'
 '7–0' '7–2' '4–4' '7–5' '1–3' '7–3' '0–0' '5–3' '0–1' '4–3' '0–3' '0–2'
 '1–4' '0–7' '1–2' '1–5' '10–1' '2–3' '3–4' '2–4' '2–5' '0–4' '1–7' '6–2']
Unique values form away column
['Mexico' 'France' 'Chile' 'Brazil' 'Bolivia' 'Peru' 'Romania' 'Belgium'
 'Paraguay' 'United States' 'Yugoslavia' 'Argentina' 'Egypt' 'Netherlands'
 'Hungary' 'Spain' 'Sweden' 'Switzerland' 'Austria' 'Germany'
 'Czechoslovakia' 'Dutch East Indies' 'Norway' 'Poland' 'Cuba' 'England'
 'Italy' 'Turkey' 'South Korea' 'West Germany' 'Scotland' 'Uruguay'
 'Northern Ireland' 'Wales' 'Soviet Union' 'Colombia' 'Bulgaria'
 'North Korea' 'Portugal' 'El Salvador' 'Israel' 'Morocco' 'Australia'
 'East Germany' 'Zaire' 'Haiti' 'Tunisia' 'Iran' 'Cameroon' 'Algeria'
 'Kuwait' 'Honduras' 'New Zealand' 'Iraq' 'Canada' 'Denmark' 'Costa Rica'
 'Russia' 'Greece' 'Nigeria' 'Republic of Ireland' 'Saudi Arabia'
 'South Africa' 'FR Yugoslavia' 'Japan' 'Croatia' 'Jamaica' 'Senegal'
 'Slovenia' 'China' 'Ecuador' 'Trinidad and Tobago' 'Ivory Coast'
 'Serbia and Montenegro' 'Angola' 'Czech Republic' 'Ghana' 'Togo'
 'Ukraine' 'Serbia' 'Slovakia' 'Bosnia and Herzegovina' 'Iceland' 'Panama'
 'Qatar' 'United Arab Emirates']
Unique values form year column
[1930 1934 1938 1950 1954 1958 1962 1966 1970 1974 1978 1982 1986 1990
 1994 1998 2002 2006 2010 2014 2018 2022]

In [14]:
# Separar el score en home_goals y away_goals
df_historico[['home_goals', 'away_goals']] = df_historico['score'].str.split('–', expand=True)

# Eliminar la columna 'score'
df_historico = df_historico.drop(columns=['score'])

# Convertir a numérico y luego a entero
df_historico['home_goals'] = pd.to_numeric(df_historico['home_goals'], errors='coerce').astype('Int64')
df_historico['away_goals'] = pd.to_numeric(df_historico['away_goals'], errors='coerce').astype('Int64')

# Crear total_goals como entero
df_historico['total_goals'] = (df_historico['home_goals'] + df_historico['away_goals']).astype('Int64')

df_historico

,home,away,year,home_goals,away_goals,total_goals
0,France,Mexico,1930,4,1,5
1,Argentina,France,1930,1,0,1
2,Chile,Mexico,1930,3,0,3
3,Chile,France,1930,1,0,1
4,Argentina,Mexico,1930,6,3,9
...,...,...,...,...,...,...
960,Netherlands,Egypt,1990,1,1,2
961,England,Netherlands,1990,0,0,0
962,Republic of Ireland,Egypt,1990,0,0,0
963,England,Egypt,1990,1,0,1
964,Republic of Ireland,Netherlands,1990,1,1,2

In [15]:
df_historico.dtypes

home           object
away           object
year            int64
home_goals      Int64
away_goals      Int64
total_goals     Int64
dtype: object

In [16]:
df_historico.to_csv(
    r"C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/WorldCup Tournament 2026/Data/clean_fifa_worldcup_historical_data.csv",
    index=False,
    encoding="utf-8"
)

# Format for the df_fixture

In [17]:
for col in df_fixture.columns:    
    print(f'Unique values form {col} column ')
    print(df_fixture[col].unique())

Unique values form home column
['Mexico' 'A3' 'A4' 'A2' 'Canada' 'B3' 'B4' 'B2' nan 'United States' 'D3'
 'D4' 'D2' 'Runner-up Group A' 'Winner Group E' 'Winner Group F'
 'Winner Group C' 'Winner Group I' 'Runner-up Group E' 'Winner Group A'
 'Winner Group L' 'Winner Group D' 'Winner Group G' 'Runner-up Group K'
 'Winner Group H' 'Winner Group B' 'Winner Group J' 'Winner Group K'
 'Runner-up Group D' 'Winner Match 74' 'Winner Match 73' 'Winner Match 76'
 'Winner Match 79' 'Winner Match 83' 'Winner Match 81' 'Winner Match 86'
 'Winner Match 85' 'Winner Match 89' 'Winner Match 93' 'Winner Match 91'
 'Winner Match 95' 'Winner Match 97' 'Winner Match 99' 'Loser Match 101'
 'Winner Match 101']
Unique values form score column
['Match 1' 'Match 2' 'Match 25' 'Match 28' 'Match 53' 'Match 54' 'Match 3'
 'Match 8' 'Match 26' 'Match 27' 'Match 51' 'Match 52' 'Match 5' 'Match 7'
 'Match 29' 'Match 30' 'Match 49' 'Match 50' 'Match 4' 'Match 6'
 'Match 31' 'Match 32' 'Match 59' 'Match 60' 'Match 9' 'Match 10'
 'Match 33' 'Match 34' 'Match 55' 'Match 56' 'Match 11' 'Match 12'
 'Match 35' 'Match 36' 'Match 57' 'Match 58' 'Match 15' 'Match 16'
 'Match 39' 'Match 40' 'Match 63' 'Match 64' 'Match 13' 'Match 14'
 'Match 37' 'Match 38' 'Match 65' 'Match 66' 'Match 17' 'Match 18'
 'Match 41' 'Match 42' 'Match 61' 'Match 62' 'Match 19' 'Match 20'
 'Match 43' 'Match 44' 'Match 69' 'Match 70' 'Match 23' 'Match 24'
 'Match 47' 'Match 48' 'Match 71' 'Match 72' 'Match 21' 'Match 22'
 'Match 45' 'Match 46' 'Match 67' 'Match 68' 'Match 73' 'Match 74'
 'Match 75' 'Match 76' 'Match 77' 'Match 78' 'Match 79' 'Match 80'
 'Match 81' 'Match 82' 'Match 83' 'Match 84' 'Match 85' 'Match 86'
 'Match 87' 'Match 88' 'Match 89' 'Match 90' 'Match 91' 'Match 92'
 'Match 93' 'Match 94' 'Match 95' 'Match 96' 'Match 97' 'Match 98'
 'Match 99' 'Match 100' 'Match 101' 'Match 102' 'Match 103' 'Match 104']
Unique values form away column
['A2' 'A4' 'A3' 'Mexico' 'B2' 'B4' 'B3' 'Canada' nan 'D2' 'D4' 'D3'
 'United States' 'Runner-up Group B' '3rd Group A/B/C/D/F'
 'Runner-up Group C' 'Runner-up Group F' '3rd Group C/D/F/G/H'
 'Runner-up Group I' '3rd Group C/E/F/H/I' '3rd Group E/H/I/J/K'
 '3rd Group B/E/F/I/J' '3rd Group A/E/H/I/J' 'Runner-up Group L'
 'Runner-up Group J' '3rd Group E/F/G/I/J' 'Runner-up Group H'
 '3rd Group D/E/I/J/L' 'Runner-up Group G' 'Winner Match 77'
 'Winner Match 75' 'Winner Match 78' 'Winner Match 80' 'Winner Match 84'
 'Winner Match 82' 'Winner Match 88' 'Winner Match 87' 'Winner Match 90'
 'Winner Match 94' 'Winner Match 92' 'Winner Match 96' 'Winner Match 98'
 'Winner Match 100' 'Loser Match 102' 'Winner Match 102']
Unique values form year column
[2026]

In [18]:
# Equipos confirmados para clasificacion
teams_2026_confirmed = [
    # Anfitriones (CONCACAF)
    "United States", "Mexico", "Canada",
    # Sudamérica (CONMEBOL)
    "Argentina", "Brazil", "Ecuador", "Uruguay", "Colombia", "Paraguay",
    # Asia (AFC)
    "Japan", "Iran", "Uzbekistan", "South Korea", "Jordan", "Australia", "Saudi Arabia", "Qatar",
    # África (CAF)
    "Algeria", "Egypt", "Ghana", "Cape Verde", "Ivory Coast", "Morocco", "Senegal", "South Africa", "Tunisia",
    # Europa (UEFA)
    "England", "France", "Croatia",
    # Oceanía (OFC)
    "New Zealand"
]
# Posibles 18 clasificados faltantes
projected_remaining_teams = [
    # UEFA
    "Germany", "Spain", "Portugal", "Netherlands", "Belgium",
    "Italy", "Switzerland", "Denmark", "Serbia",
    "Poland", "Scotland", "Turkey", "Austria",
    # CONMEBOL
    "Chile", "Peru",
    # CAF
    "Nigeria", "Mali",
    # CONCACAF
    "Panama"
]

# Grupos desde la A a la L(48 equipos participantes) 
grupos_2026 = {} 
for letra in "ABCDEFGHIJKL": 
    grupos_2026[f"Grupo {letra}"] = [ 
        {"Pos": 1, "Team": f"{letra}1", "Pld": 0, "W": 0, "D": 0, "L": 0, "GF": 0, "GA": 0, "GD": 0, "Pts": 0}, 
        {"Pos": 2, "Team": f"{letra}2", "Pld": 0, "W": 0, "D": 0, "L": 0, "GF": 0, "GA": 0, "GD": 0, "Pts": 0}, 
        {"Pos": 3, "Team": f"{letra}3", "Pld": 0, "W": 0, "D": 0, "L": 0, "GF": 0, "GA": 0, "GD": 0, "Pts": 0}, 
        {"Pos": 4, "Team": f"{letra}4", "Pld": 0, "W": 0, "D": 0, "L": 0, "GF": 0, "GA": 0, "GD": 0, "Pts": 0} 
    ]

# Lista con los equipos finales para el Mundial 2026
final_teams_2026 = teams_2026_confirmed + projected_remaining_teams

# CREAR LOS BOMBOS FIFA (POT 1–4)
pot1 = [
    "Mexico", "Canada", "United States",  # Hosts
    "Argentina", "Brazil", "France", "England",
    "Portugal", "Spain", "Germany",
    "Netherlands", "Croatia"
]

pot2 = [
    "Uruguay", "Colombia", "Japan", "Morocco",
    "Italy", "Switzerland", "Denmark", "Belgium",
    "Senegal", "South Korea", "Australia", "Chile"
]

pot3 = [
    "Ecuador", "Paraguay", "Iran", "Uzbekistan",
    "Saudi Arabia", "Qatar", "Egypt", "Algeria",
    "Ghana", "Ivory Coast", "South Africa", "Tunisia"
]

pot4 = [
    "Cape Verde", "New Zealand", "Serbia", "Poland",
    "Scotland", "Turkey", "Austria", "Peru", 
    "Nigeria", "Mali", "Panama", "Jordan"
]

# Paises que estan de Anfitriones
grupos_2026["Grupo A"][0]["Team"] = "Mexico"
grupos_2026["Grupo B"][0]["Team"] = "Canada"
grupos_2026["Grupo D"][0]["Team"] = "United States"

# Asignar de manera aleatoria los equipos a los grupos
random.seed(69)

remaining_pot1 = [t for t in pot1 if t not in ["Mexico", "Canada", "United States"]]

i = 0
for letra in "ACDEFGHIJKL":  # excluyendo B (ya tiene)
    # La posición 0 (Pos 1) ya está asignada a host, así que saltamos
    if letra != "A" and letra != "B" and letra != "D":
        grupos_2026[f"Grupo {letra}"][0]["Team"] = remaining_pot1[i]
        i += 1

# Funcion para asignar los Bombos en las posciones (2, 3, 4)
def assign_pot_to_position(pot, position):
    random.shuffle(pot)
    idx = 0
    for letra in "ABCDEFGHIJKL":
        # position = 2,3,4 → índice = position - 1
        grupos_2026[f"Grupo {letra}"][position-1]["Team"] = pot[idx]
        idx += 1
        
assign_pot_to_position(pot2, 2)
assign_pot_to_position(pot3, 3)
assign_pot_to_position(pot4, 4)

In [19]:
grupos_2026

{'Grupo A': [{'Pos': 1,
   'Team': 'Mexico',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Chile',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Saudi Arabia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Peru',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo B': [{'Pos': 1,
   'Team': 'Canada',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Denmark',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Iran',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Mali',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo C': [{'Pos': 1,
   'Team': 'Argentina',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Belgium',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Egypt',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Cape Verde',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo D': [{'Pos': 1,
   'Team': 'United States',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Morocco',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Ecuador',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'New Zealand',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo E': [{'Pos': 1,
   'Team': 'Brazil',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Switzerland',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Tunisia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Nigeria',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo F': [{'Pos': 1,
   'Team': 'France',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Senegal',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Uzbekistan',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Austria',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo G': [{'Pos': 1,
   'Team': 'England',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Italy',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Paraguay',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Turkey',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo H': [{'Pos': 1,
   'Team': 'Portugal',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'South Korea',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'South Africa',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Panama',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo I': [{'Pos': 1,
   'Team': 'Spain',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Japan',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Qatar',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Scotland',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo J': [{'Pos': 1,
   'Team': 'Germany',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Colombia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Ghana',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Jordan',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo K': [{'Pos': 1,
   'Team': 'Netherlands',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Uruguay',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Algeria',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Poland',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}],
 'Grupo L': [{'Pos': 1,
   'Team': 'Croatia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 2,
   'Team': 'Australia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 3,
   'Team': 'Ivory Coast',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0},
  {'Pos': 4,
   'Team': 'Serbia',
   'Pld': 0,
   'W': 0,
   'D': 0,
   'L': 0,
   'GF': 0,
   'GA': 0,
   'GD': 0,
   'Pts': 0}]}

In [20]:
import json

with open(
    r"C:/Users/Nancy Sorroza Rojas/Desktop/Pool/Proyectos Data Science/WorldCup Tournament 2026/Data/grupos_2026.json",
    "w", encoding="utf-8"
) as f:
    json.dump(grupos_2026, f, ensure_ascii=False, indent=4)

In [21]:
# cargamos los matches ordenados
df_fixture_matches = df_fixture['score'].unique()

# Generamos los partidos por grupo
def generar_fixture_grupo(group_name, teams_list):
    t1 = teams_list[0]["Team"]
    t2 = teams_list[1]["Team"]
    t3 = teams_list[2]["Team"]
    t4 = teams_list[3]["Team"]

    partidos = [
        (t1, t2),
        (t3, t4),
        (t1, t3),
        (t2, t4),
        (t1, t4),
        (t2, t3),
    ]

    df = pd.DataFrame(partidos, columns=["home", "away"])
    df["group"] = group_name
    return df


# Unimos todos los grupos
fixture_total = pd.concat(
    [generar_fixture_grupo(g, grupos_2026[g]) for g in grupos_2026],
    ignore_index=True
)

#Ahora asignamos los scores del fixture real a los 6 matches por grupo:
matches_por_grupo = [
    df_fixture_matches[i:i+6] 
    for i in range(0, 72, 6)
]

# Asignamos los Match X a los grupos
fixture_total["score"] = None
i = 0
for idx_grupo, group_name in enumerate(grupos_2026):
    fixture_total.loc[i:i+5, "score"] = matches_por_grupo[idx_grupo]
    i += 6

# Crear 'year' column and drop 'group' column
fixture_total["year"] = 2026
fixture_total = fixture_total.drop(['group'], axis=1)

# Reordenar columnas
fixture_total = fixture_total[['home', 'score', 'away', 'year']]

# Verificar
fixture_total.head()

           home     score          away  year
0        Mexico   Match 1         Chile  2026
1  Saudi Arabia   Match 2          Peru  2026
2        Mexico  Match 25  Saudi Arabia  2026
3         Chile  Match 28          Peru  2026
4        Mexico  Match 53          Peru  2026

In [22]:
df_fixture.shape

(104, 4)

In [23]:
fixture_total.shape

(72, 4)

In [24]:
elim_matches = [
    ("Runner-up Group A", "Runner-up Group B"),  # Match 73
    ("Winner Group E", "3rd Group A/B/C/D/F"),  # Match 74
    ("Winner Group F", "Runner-up Group C"),    # Match 75
    ("Winner Group C", "Runner-up Group F"),    # Match 76
    ("Winner Group I", "3rd Group C/D/F/G/H"),  # Match 77
    ("Runner-up Group E", "Runner-up Group I"),  # Match 78
    ("Winner Group A", "3rd Group C/E/F/H/I"),   # Match 79
    ("Winner Group L", "3rd Group E/H/I/J/K"),   # Match 80
    ("Winner Group D", "3rd Group B/E/F/I/J"),   # Match 81
    ("Winner Group G", "3rd Group A/E/H/I/J"),   # Match 82
    ("Runner-up Group K", "Runner-up Group L"),  # Match 83
    ("Winner Group H", "Runner-up Group J"),     # Match 84
    ("Winner Group B", "3rd Group E/F/G/I/J"),   # Match 85
    ("Winner Group J", "Runner-up Group H"),     # Match 86
    ("Winner Group K", "3rd Group D/E/I/J/L"),   # Match 87
    ("Runner-up Group D", "Runner-up Group G"),  # Match 88
    ("Winner Match 74", "Winner Match 77"),      # Match 89
    ("Winner Match 73", "Winner Match 75"),      # Match 90
    ("Winner Match 76", "Winner Match 78"),      # Match 91
    ("Winner Match 79", "Winner Match 80"),      # Match 92
    ("Winner Match 83", "Winner Match 84"),      # Match 93
    ("Winner Match 81", "Winner Match 82"),      # Match 94
    ("Winner Match 86", "Winner Match 88"),      # Match 95
    ("Winner Match 85", "Winner Match 87"),      # Match 96
    ("Winner Match 89", "Winner Match 90"),      # Match 97 (Cuartos)
    ("Winner Match 93", "Winner Match 94"),      # Match 98
    ("Winner Match 91", "Winner Match 92"),      # Match 99
    ("Winner Match 95", "Winner Match 96"),      # Match 100
    ("Winner Match 97", "Winner Match 98"),      # Match 101 (Semifinal)
    ("Winner Match 99", "Winner Match 100"),     # Match 102
    ("Loser Match 101", "Loser Match 102"),      # Match 103
    ("Winner Match 101", "Winner Match 102"),    # Match 104
]

df_elim = pd.DataFrame(elim_matches, columns=["home", "away"])
df_elim["score"] = ["Match " + str(i) for i in range(73, 105)]
df_elim["year"] = 2026

fixture_total_full = pd.concat([fixture_total, df_elim], ignore_index=True)

In [25]:
fixture_total_full.shape

(104, 4)

In [26]:
fixture_total_full.head(25)

             home     score          away  year
0          Mexico   Match 1         Chile  2026
1    Saudi Arabia   Match 2          Peru  2026
2          Mexico  Match 25  Saudi Arabia  2026
3           Chile  Match 28          Peru  2026
4          Mexico  Match 53          Peru  2026
5           Chile  Match 54  Saudi Arabia  2026
6          Canada   Match 3       Denmark  2026
7            Iran   Match 8          Mali  2026
8          Canada  Match 26          Iran  2026
9         Denmark  Match 27          Mali  2026
10         Canada  Match 51          Mali  2026
11        Denmark  Match 52          Iran  2026
12      Argentina   Match 5       Belgium  2026
13          Egypt   Match 7    Cape Verde  2026
14      Argentina  Match 29         Egypt  2026
15        Belgium  Match 30    Cape Verde  2026
16      Argentina  Match 49    Cape Verde  2026
17        Belgium  Match 50         Egypt  2026
18  United States   Match 4       Morocco  2026
19        Ecuador   Match 6   New Zealand  2026
20  United States  Match 31       Ecuador  2026
21        Morocco  Match 32   New Zealand  2026
22  United States  Match 59   New Zealand  2026
23        Morocco  Match 60       Ecuador  2026
24         Brazil   Match 9   Switzerland  2026